@{
    ViewData["Title"] = "ASP .NET Core MVC";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">

    <div class="col-md-4">
        <h2>Welcome to ASP .NET Core MVC</h2>
        <p>
            ASP .NET Core MVC is a rich framework for building web apps and
            APIs using the Model-View-Controller design pattern.
        </p>
    </div>
</div>
<div class="col-md-4">
    <h2>What is ASP .NET Core MVC</h2>"
    <p>
        The ASP .NET Core MVC Framework is a lightweight, open source, highly
        testable presentation framework optimized for use with ASP .NET Core.
    </p>
    <p>
    <a class="btn btn-default"
       href="https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-2.1">
        Read more &raquo;</a>
    </p>
</div>


